* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    line-height: 1.6;
    background-color: #f4f4f4ff;
    color: #333;
    padding: 100px;
}

main {
    max-width: 1000px;
    margin: auto;
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.section {
    margin-bottom: 30px;
}

/*--- Introduction Section ---*/

.profile-photo {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    display: block;
    margin: 0 auto 20px auto;
    object-fit: cover;
}

h1, h2 {
    font-family: "montserrat", sans-serif;
    text-align: center;
    font-size: 2em;
}

.bio {
    text-align: justify;
    font-size: 1.1em;
    font-family: "inter", sans-serif;
    margin: 20px 0px 0px 0px;
}


/*--- Skills Section ---*/
.text-skills {
    margin-bottom: 20px;
    text-align: center;
    font-family: "inter", sans-serif;
    font-size: 1.2em;
}

.tech-list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    list-style: none;
    gap: 10px;   
}
    .tech-list li { 
        border: 1px solid #ccc;   
        padding: 10px 35px;                        
        line-height: 1;            
        text-align: center;  
    }

/*--- Contact Section ---*/

.contact-list {
    display: flex;
    gap: 15px;
    list-style: none;
    padding: 0;
    font-family: "inter", sans-serif;
}
.contact-text {
    text-align: justify;
    font-size: 1.1em;
    font-family: "inter", sans-serif;
    
}

/*--- Footer Section ---*/

footer {
    text-align: center;
    font-size: 0.9em;
    color: #777;
    margin-top: 20px;
}